:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
html {
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  background: url(/images/bg-pattern-top-mobile.svg) no-repeat,
    url(/images/bg-pattern-bottom-mobile.svg) no-repeat;
  background-position: top left, bottom right;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px;
}

.container__half-1__letter {
  text-align: center;
}
.container__half-1__letter h1 {
  color: var(--Very-Dark-Magenta);
  line-height: 0.8;
  letter-spacing: -1px;
  font-size: 40px;
}
.container__half-1__letter p {
  color: var(--Dark-Grayish-Magenta);
  line-height: 1.5;
  font-size: 16px;
  margin: 20px 22px;
}

.rates__container {
  max-width: 528px;
  padding-bottom: 10px;
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
}
.rates__container p {
  margin: 5px 0 0 0;
}
.rates__container img {
  margin-top: 15px;
}

/*-------------------------Second Section---------------------*/
.container__half-2 {
  margin-bottom: 50px;
}
.container__half-2__cards {
  max-width: 528px;
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  margin-bottom: 16px;
  border-radius: 10px;
  padding: 32px;
}

.container__half-2__cards__name {
  display: flex;
}
.container__half-2__cards__name img {
  width: 42px;
  border-radius: 50%;
}
.container__half-2__cards__name h2 {
  font-size: 18px;
  margin: 0;
}
.container__half-2__cards__name p {
  color: var(--Soft-Pink);
  margin: 0;
}

.container__half-2__cards__name__client {
  margin-left: 20px;
}

.container__half-2__cards__review p {
  line-height: 1.5;
}

.attribution {
  font-size: 18px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 767px) {
  .container {
    margin: 0 auto;
  }
}
@media (min-width: 900px) {
  body {
    background: url(/images/bg-pattern-top-desktop.svg) no-repeat,
      url(/images/bg-pattern-bottom-desktop.svg) no-repeat;
    background-position: top left, bottom right;
    background-size: cover cover;
    height: 100vh;
  }

  .container {
    max-width: 1440px;
    margin: auto;
  }
  .container__half-1 {
    display: flex;
  }
  .container__half-2 {
    display: flex;
    width: 100%;
  }

  .container__half-1__letter {
    margin-top: 144px;
    width: 100%;
    flex: 1;
    text-align: start;
  }
  .container__half-1__letter h1 {
    font-size: 60px;
  }
  .container__half-1__letter p {
    font-size: 22px;
    margin: 0;
  }
  .container__half-1__rates {
    margin-top: 144px;
    flex: 1;
  }
  .rates__container {
    display: flex;
    flex-direction: row;
    max-width: 446px;
    height: 58px;
  }

  .rates__container__one {
    margin-left: 0;
  }

  .rates__container__two {
    margin-left: 10%;
  }
  .rates__container__three {
    margin-left: 20%;
  }

  .container__half-1__rates__stars {
    margin-left: 32px;
    margin-bottom: 10px;
  }
  /*-----------------------------second section----------------------------*/
  .container__half-2__cards {
    margin-top: 25px;
    width: 350px;
    height: fit-content;
    max-height: 235px;
    transition: 0.2s ease;
  }

  .container__half-2__cards__name__client h2 {
    font-size: 22px;
  }

  .container__half-2__cards__name__client p {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .container__half-2__cards__review p {
    font-size: 20px;
  }

  .container__half-2 {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .container__half-2__cards:hover {
    box-shadow: 0px 0px 5px black;
    transform: scale(1.01);
    cursor: pointer;
  }
}
